body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1920px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u561 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u562_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:2042px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1px;
  width:1920px;
  height:2042px;
  display:flex;
}
#u562 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:135px;
  display:flex;
}
#u563 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:879px;
  height:488px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins SemiBold", "Poppins Regular", "Poppins", sans-serif;
  font-style:normal;
  text-align:left;
  line-height:80px;
}
#u564 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:200px;
  width:879px;
  height:488px;
  display:flex;
  font-family:"Poppins SemiBold", "Poppins Regular", "Poppins", sans-serif;
  font-style:normal;
  text-align:left;
  line-height:80px;
}
#u564 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/about_me/u565_div.png');
  background-repeat:no-repeat;
  background-size:40px 41px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u565 {
  border-width:0px;
  position:absolute;
  left:655px;
  top:217px;
  width:40px;
  height:41px;
  display:flex;
}
#u565 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:434px;
  height:488px;
}
#u566 {
  border-width:0px;
  position:absolute;
  left:1230px;
  top:200px;
  width:434px;
  height:488px;
  display:flex;
}
#u566 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:2px;
}
#u567 {
  border-width:0px;
  position:absolute;
  left:342px;
  top:794px;
  width:1245px;
  height:1px;
  display:flex;
}
#u567 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1246px;
  height:2px;
}
#u568 {
  border-width:0px;
  position:absolute;
  left:338px;
  top:1299px;
  width:1245px;
  height:1px;
  display:flex;
}
#u568 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/about_me/u570_div.png');
  background-repeat:no-repeat;
  background-size:514px 343px;
  background-position: -8.0px 0.0px;
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u570 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:865px;
  width:498px;
  height:343px;
  display:flex;
}
#u570 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:515px;
  height:343px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  background-image:url('../../images/about_me/u571_div.png');
  background-repeat:no-repeat;
  background-size:515px 343px;
  background-position: 0.0px 0.0px;
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u571 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:865px;
  width:515px;
  height:343px;
  display:flex;
}
#u571 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:343px;
}
#u572 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:865px;
  width:307px;
  height:343px;
  display:flex;
}
#u572 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:786px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins SemiBold", "Poppins Regular", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u573 {
  border-width:0px;
  position:absolute;
  left:567px;
  top:1367px;
  width:786px;
  height:80px;
  display:flex;
  font-family:"Poppins SemiBold", "Poppins Regular", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u573 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u574 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:293px;
}
#u575 {
  border-width:0px;
  position:absolute;
  left:1280px;
  top:1525px;
  width:384px;
  height:293px;
  display:flex;
}
#u575 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:537px;
  height:293px;
}
#u576 {
  border-width:0px;
  position:absolute;
  left:691px;
  top:1525px;
  width:537px;
  height:293px;
  display:flex;
}
#u576 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:293px;
}
#u577 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:1525px;
  width:383px;
  height:293px;
  display:flex;
}
#u577 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:132px;
}
#u579 {
  border-width:0px;
  position:absolute;
  left:255px;
  top:0px;
  width:112px;
  height:132px;
  display:flex;
}
#u579 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u580_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:rgba(0, 0, 0, 0.8784313725490196);
  text-align:left;
  line-height:80px;
}
#u580 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:26px;
  width:135px;
  height:80px;
  display:flex;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:rgba(0, 0, 0, 0.8784313725490196);
  text-align:left;
  line-height:80px;
}
#u580 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u581 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:26px;
  width:128px;
  height:80px;
  display:flex;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u581 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u582_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins SemiBold", "Poppins Regular", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:rgba(118, 80, 198, 0.8784313725490196);
  text-align:left;
  line-height:80px;
}
#u582 {
  border-width:0px;
  position:absolute;
  left:1036px;
  top:26px;
  width:102px;
  height:80px;
  display:flex;
  font-family:"Poppins SemiBold", "Poppins Regular", "Poppins", sans-serif;
  font-weight:600;
  font-style:normal;
  font-size:30px;
  color:rgba(118, 80, 198, 0.8784313725490196);
  text-align:left;
  line-height:80px;
}
#u582 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u583 {
  border-width:0px;
  position:absolute;
  left:772px;
  top:26px;
  width:129px;
  height:80px;
  display:flex;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u584 {
  border-width:0px;
  position:absolute;
  left:1534px;
  top:26px;
  width:130px;
  height:80px;
  display:flex;
  font-family:"Poppins Medium", "Poppins Regular", "Poppins", sans-serif;
  font-weight:500;
  font-style:normal;
  font-size:30px;
  color:#000000;
  text-align:left;
  line-height:80px;
}
#u584 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
